.body-container {
    max-width: 1920px;
    width: 100%;
    min-height: 1200px;
    min-width: 300px;
    row-gap: 30px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
}

.header {
    width: 80%;
    margin: 0 auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
    box-sizing: border-box;
    padding: 50px 20px;
    justify-content: space-around;

    .header-content {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;   
        
        .header-text-effect {
            display: inline-block;
            animation: rubberBand;
            animation-duration: 3s;
        }
        
    }

    .button {
        width: 240px;
        height: 80px;
        box-sizing: border-box;
        padding: 15px 10px;
        background-color: #FED233;
        color: #000;
        border: 1px solid black;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background-color: bisque;
        }
    }

}

.animation {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    min-height: 80px;

    .circle {
        width: 50px;
        height: 50px;
        border-radius: 999px;
        animation: move 5s infinite;
        position: relative;
        border: 1px solid #000;
    
        @keyframes move {
            0% {left: 30px; background: bisque;}
            50% {left: 90%; background: aquamarine;}
            100% {left: 30px; background: bisque;}
        }
    
    }

}


.content-wrapper {
    min-height: 870px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    row-gap: 20px;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    
    li {
        font-size: 24px;
    
        a {
            font-size: 20px;
        }
    }

    a {
        text-decoration: none;
        transition: all 0.5s linear;
    
        &:hover {
            font-size: 24px;
            color: #000;           
            
        }
    }

    .mytext {
        font-size: 20px;
    }
        
}


.content-block1, .content-block2 {
    width: 45%;
    min-height: 790px;
    border: 1px double #000;
    border-radius: 10px;
    padding: 20px;
    
    @media screen and (max-width:1230px) {
        width: 100%;
        margin: 10px auto;
    }
}

.content-block1 {
    background-color: bisque;
}

.content-block2 {
    background-color: aquamarine;
}

.footer {
    width: 80%;
    min-height: 100px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #fff;
}

@media screen and (max-width: 1230px) {
    .header,
    .content-wrapper,
    .animation,
    .footer {

    width: 100%;   
        
    }
}